*~
Makefile
!docs/wxparaver_help_contents/sphinx/2.paraver_toolset/Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
icons/Makefile
icons/Makefile.in
include/Makefile
include/Makefile.in
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
src/.deps/
src/Makefile
src/Makefile.in
src/wxparaver.bin
src/*.o
stamp-h1
icons/*.prv.jpg
wxparaver.bin.exe
wxparaver.pjd.bak
wxparaver.pjd.orig
wxparaver-autosave.pjd
VCRelease/
libboost_serialization-vc90-mt-s-1_50.lib
libboost_serialization-vc90-mt-sgd-1_50.lib
makefile.vc
vc90.idb
vc90.pdb
.vscode/
