[DirBrowserButton]
Description=
BaseClass=wxButton
IncludeFilename=filebrowserbutton.h
ImageFilename=
TileImage=0
ImageHAlignment=2
ImageVAlignment=2
CustomArguments=%PARENT%, %IDENTIFIER%, %Label%, %POSITION%, %SIZE%, %STYLE%
CustomCtorArguments=
Styles=
ExtraStyles=
DefaultWidth=100
DefaultHeight=100
ShowInheritedProperties=1
IsContainer=0
GenerateAttachUnknownControl=1
Label=
Colour=FFFFFF
BorderStyle=wxSIMPLE_BORDER
IsBook=0
BookPageClassName=
UseExistingBaseClass=1
UseBaseClassInXRC=0
[FileBrowserButton]
Description=
BaseClass=wxButton
IncludeFilename=filebrowserbutton.h
ImageFilename=
TileImage=0
ImageHAlignment=2
ImageVAlignment=2
CustomArguments=%PARENT%, %IDENTIFIER%, %Label%, %POSITION%, %SIZE%, %STYLE%
CustomCtorArguments=
Styles=
ExtraStyles=
DefaultWidth=100
DefaultHeight=100
ShowInheritedProperties=1
IsContainer=0
GenerateAttachUnknownControl=1
Label=
Colour=FFFFFF
BorderStyle=wxSIMPLE_BORDER
IsBook=0
BookPageClassName=
UseExistingBaseClass=1
UseBaseClassInXRC=0
